// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Banner */

	#banner {
		@include padding(8em, 0);
		background: #f6f6f6;
		//@include vendor('background', 'linear-gradient(45deg, #{_palette(bg1)} 15%, #{_palette(bg2) 85%})');

		text-align: center;

		img.logo {
			width: 10%; 
			height: auto;
			position: relative;
			left: -10px;
		}

		h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0 0;
			padding: 0;
		}

		p {
			font-size: 1.5em;
			margin-bottom: 0.25em;
		}

		span {

			display: inline-block;

			display: flex; 
			justify-content: space-around;

			margin: 0 auto 1em;

			max-width: 20%;

			@include breakpoint(xlarge) {
				max-width: 20%;
			}

			@include breakpoint(large) {
				max-width: 40%;
			}

			@include breakpoint(small) {
				max-width: 100%;
			}



			a.button {
				display: inline-block;
				width: 50%;
				//font-size: 1.5em;
				//border-radius: _size(border-radius);
				//background: lighten(_palette(fg), 50%);
				//padding: 0.5em;
				
				margin: 0.5em;
			}
		}

		@include breakpoint(xlarge) {
			@include padding(7em, 0);
		}

		@include breakpoint(large) {
			@include padding(5em, 0);

			h2 {
				font-size: 3.5em;
			}
		}

		@include breakpoint(medium) {
			@include padding(6em, 2em);
		}

		@include breakpoint(small) {
			@include padding(4em, 2em);

			h2 {
				font-size: 2.25em;
			}

			p {
				font-size: 1.25em;
			}
		}

		@include breakpoint(xsmall) {
			@include padding(4em, 2em);
		}
	}